<ion-view title="Ejercicio Nuevo " id="page19">
  <ion-content padding="true" class="has-header">
    <form id="ejercicioNuevo-form12" class="list">
      <label class="item item-select --" id="ejercicioNuevo-select7">
        <span class="input-label">Seleccione el ejercicio</span>
        <select>
          <option>--</option>
          <option>Nuevo ejercicio</option>
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 269px;"></div>
    <button id="ejercicioNuevo-button57" class="button button-assertive button-block button-clear">Guardar Rutina </button>
    <a ui-sref="rutina()" id="ejercicioNuevo-button58" class="button button-assertive button-block button-outline">Volver a Rutina</a>
  </ion-content>
</ion-view>