<ion-view title="Espalda/Pecho " id="page16">
  <ion-content padding="true" class="has-header">
    <h5 id="espaldaPecho3-heading15" style="color:#84DCC6;font-weight:400;">Ejercicio glúteos con pierna ambas piernas</h5>
    <div ng-init="videourl_video8=&quot;https://www.youtube.com/embed/qsQ4QULqXwY?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="espaldaPecho3-video8">
      <iframe src="{{videourl_video8}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="espaldaPecho3-markdown11" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Uso de la máquina para glúteos.</p>

      <ul>
        <li>Poner el peso deseado en la maquina</li>
        <li>Ajustar la silla para que las piernas queden a 90 graos </li>
        <li>Se extienden las piernas (se inhala)</li>
        <li>Se vuelve a la posicion inicial (Se exhala)</li>
        <li>Se tiene en cuenta que se debe hacer solo con ambas piernas</li>
      </ul>
    </div>
    <div id="espaldaPecho3-button-bar10" class="button-bar">
      <a ui-sref="GlTeosGemelos()" id="espaldaPecho3-button21" class="button button-assertive button-block button-outline">1</a>
      <a ui-sref="GlTeosGemelos2()" id="espaldaPecho3-button34" class="button button-assertive button-block button-outline">2</a>
      <a ui-sref="GlTeosGemelos3()" id="espaldaPecho3-button35" class="button button-assertive button-block button-outline">3</a>
      <button id="espaldaPecho3-button36" class="button button-assertive button-block button-outline">4</button>
    </div>
    <a ui-sref="rutina()" id="espaldaPecho3-button37" class="button button-calm button-small button-block button-clear">Ir a Rutina</a>
  </ion-content>
</ion-view>