<ion-view title=" Glúteos/Gemelos" id="page13">
  <ion-content padding="true" class="has-header">
    <h5 id="GlTeosGemelos4-heading12" style="color:#84DCC6;font-weight:400;">Ejercicio glúteos con pierna ambas piernas</h5>
    <div ng-init="videourl_video6=&quot;https://www.youtube.com/embed/RSTJfVoZivM?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="GlTeosGemelos4-video6">
      <iframe src="{{videourl_video6}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="GlTeosGemelos4-markdown10" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Uso de la máquina para glúteos.</p>

      <ul>
        <li>Poner el peso deseado en la maquina</li>
        <li>Ajustar la silla para que las piernas queden a 90 graos </li>
        <li>Se extienden las piernas (se inhala)</li>
        <li>Se vuelve a la posicion inicial (Se exhala)</li>
        <li>Se tiene en cuenta que se debe hacer solo con ambas piernas</li>
      </ul>
    </div>
    <div id="GlTeosGemelos4-button-bar6" class="button-bar">
      <a ui-sref="GlTeosGemelos()" id="GlTeosGemelos4-button38" class="button button-assertive button-block button-outline">1</a>
      <a ui-sref="GlTeosGemelos2()" id="GlTeosGemelos4-button39" class="button button-assertive button-block button-outline">2</a>
      <a ui-sref="GlTeosGemelos3()" id="GlTeosGemelos4-button40" class="button button-assertive button-block button-outline">3</a>
      <button id="GlTeosGemelos4-button41" class="button button-assertive button-block button-outline">4</button>
    </div>
    <a ui-sref="rutina()" id="GlTeosGemelos4-button51" class="button button-calm button-small button-block button-clear">Ir a Rutina</a>
  </ion-content>
</ion-view>