<ion-view title="Espalda/Pecho " id="page14">
  <ion-content padding="true" class="has-header">
    <h5 id="espaldaPecho-heading11" style="color:#84DCC6;font-weight:400;">Ejercicio de espalda alta </h5>
    <div ng-init="videourl_video7=&quot;https://www.youtube.com/embed/qsQ4QULqXwY?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="espaldaPecho-video7">
      <iframe src="{{videourl_video7}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="espaldaPecho-markdown9" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Uso de la máquina para glúteos.</p>

      <ul>
        <li>Poner el peso deseado en la maquina</li>
        <li>Ajustar la silla para que el cojin quede debajo de las costillas y las piernas esten a 90 grados </li>
        <li>Posicionar el brazo de tal manera que no este completamente estrado</li>
        <li>Se flexionan los brazos hasta que las manos esten a la altura de la boca </li>
      </ul>
    </div>
    <div id="espaldaPecho-button-bar9" class="button-bar">
      <a ui-sref="GlTeosGemelos()" id="espaldaPecho-button12" class="button button-assertive button-block button-outline">1</a>
      <a ui-sref="espaldaPecho2()" id="espaldaPecho-button13" class="button button-assertive button-block button-outline">2</a>
      <a ui-sref="espaldaPecho3()" id="espaldaPecho-button14" class="button button-assertive button-block button-outline">3</a>
      <button id="espaldaPecho-button17" class="button button-assertive button-block button-outline">4</button>
    </div>
    <a ui-sref="rutina()" id="espaldaPecho-button20" class="button button-calm button-small button-block button-clear">Ir a Rutina</a>
  </ion-content>
</ion-view>