<ion-view title=" Glúteos/Gemelos" id="page11">
  <ion-content padding="true" class="has-header">
    <h5 id="GlTeosGemelos3-heading9" style="color:#84DCC6;font-weight:400;">Ejercicio glúteos con pierna derecha</h5>
    <div ng-init="videourl_video4=&quot;https://www.youtube.com/embed/qSQr_MXnuCc?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="GlTeosGemelos3-video4">
      <iframe src="{{videourl_video4}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="GlTeosGemelos3-markdown8" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Uso de la máquina para glúteos.</p>

      <ul>
        <li>Poner el peso deseado en la maquina</li>
        <li>Ajustar la silla para que las piernas queden a 90 graos </li>
        <li>Se extienden las piernas (se inhala)</li>
        <li>Se vuelve a la posicion inicial (Se exhala)</li>
        <li>Se tiene en cuenta que se debe hacer solo con la pierna derecha </li>
      </ul>
    </div>
    <div id="GlTeosGemelos3-button-bar4" class="button-bar">
      <a ui-sref="GlTeosGemelos()" id="GlTeosGemelos3-button30" class="button button-assertive button-block button-outline">1</a>
      <a ui-sref="GlTeosGemelos2()" id="GlTeosGemelos3-button31" class="button button-assertive button-block button-outline">2</a>
      <button id="GlTeosGemelos3-button32" class="button button-assertive button-block button-outline">3</button>
      <a ui-sref="GlTeosGemelos4()" id="GlTeosGemelos3-button33" class="button button-assertive button-block button-outline">4</a>
    </div>
    <a ui-sref="rutina()" id="GlTeosGemelos3-button50" class="button button-calm button-small button-block button-clear">Ir a Rutina</a>
  </ion-content>
</ion-view>