<ion-view title="Espalda/Pecho " id="page17">
  <ion-content padding="true" class="has-header">
    <h5 id="espaldaPecho2-heading16" style="color:#84DCC6;font-weight:400;">Ejercicio de pecho con ambas manos pecho </h5>
    <div ng-init="videourl_video9=&quot;https://www.youtube.com/embed/jxS3w4-UeR8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="espaldaPecho2-video9">
      <iframe src="{{videourl_video9}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="espaldaPecho2-markdown12" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Uso de la máquina para glúteos.</p>

      <ul>
        <li>Poner el peso deseado en la maquina</li>
        <li>Ajustar la silla para que las piernas queden a 90 graos </li>
        <li>Se extienden las piernas (se inhala)</li>
        <li>Se vuelve a la posicion inicial (Se exhala)</li>
        <li>Se tiene en cuenta que se debe hacer solo con ambas piernas</li>
      </ul>
    </div>
    <div id="espaldaPecho2-button-bar11" class="button-bar">
      <a ui-sref="espaldaPecho()" id="espaldaPecho2-button45" class="button button-assertive button-block button-outline">1</a>
      <a ui-sref="GlTeosGemelos2()" id="espaldaPecho2-button46" class="button button-assertive button-block button-outline">2</a>
      <a ui-sref="espaldaPecho3()" id="espaldaPecho2-button52" class="button button-assertive button-block button-outline">3</a>
      <button id="espaldaPecho2-button53" class="button button-assertive button-block button-outline">4</button>
    </div>
    <a ui-sref="rutina()" id="espaldaPecho2-button54" class="button button-calm button-small button-block button-clear">Ir a Rutina</a>
  </ion-content>
</ion-view>