<ion-view title="Menu" id="page4" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="perfil()" id="menu-button11" class="button button-assertive button-large button-block button-outline icon-left ion-android-person">Mi perfil</a>
    <a ui-sref="rutina()" id="menu-button4" class="button button-assertive button-large button-block button-outline icon-left ion-android-walk">Entrenar</a>
    <a ui-sref="estadisticas()" id="menu-button5" class="button button-assertive button-large button-block button-outline icon-left ion-arrow-graph-up-right">Estadísticas</a>
    <a ui-sref="configuraciN()" id="menu-button6" class="button button-assertive button-large button-block button-outline icon-left ion-android-options">Configuración</a>
    <div class="spacer" style="width: 300px; height: 166px;"></div>
    <a ui-sref="login()" id="menu-button9" class="button button-calm button-small button-block button-clear">Cerrar Sesion</a>
  </ion-content>
</ion-view>