<ion-view title="Registrate " id="page21">
  <ion-content padding="true" class="has-header">
    <form id="registrate-form13" class="list">
      <ion-list id="registrate-list5">
        <label class="item item-input" id="registrate-input13">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrate-input20">
          <span class="input-label">Apodo</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrate-input14">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="registrate-input15">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
        <label class="item item-input" id="registrate-input16">
          <span class="input-label">Fecha de nacimiento</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-input" id="registrate-input17">
          <span class="input-label">Peso</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="registrate-input18">
          <span class="input-label">Altura </span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="registrate-input19">
          <span class="input-label">Peso Objetivo </span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="registrate-input22">
          <span class="input-label">Meta de porcentaje de grasa</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-select" id="registrate-select8">
          <span class="input-label">Sexo</span>
          <select>
            <option>--</option>
            <option>Femenino</option>
            <option>Masculino</option>
            <option>Otro</option>
          </select>
        </label>
      </ion-list>
      <button id="registrate-button60" class="button button-calm button-clear">Agregar una foto </button>
      <a ui-sref="menu()" id="registrate-button56" style="text-align:justify;" class="button button-assertive button-clear">Registrarte </a>
    </form>
  </ion-content>
</ion-view>