<ion-view title="Agregar rutina" id="page18">
  <ion-content padding="true" class="has-header">
    <form id="agregarRutina-form8" class="list">
      <label class="item item-input" id="agregarRutina-input6">
        <span class="input-label">Nombre de la Rutina </span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="agregarRutina-input7">
        <span class="input-label">Número de ejercicios</span>
        <input type="number" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 309px;"></div>
    </form>
    <a ui-sref="ejercicioNuevo()" id="agregarRutina-button55" class="button button-assertive button-block button-outline">Agreagr ejercicio </a>
  </ion-content>
</ion-view>