<ion-view title=" Glúteos/Gemelos" id="page10">
  <ion-content padding="true" class="has-header">
    <h5 id="GlTeosGemelos2-heading7" style="color:#84DCC6;font-weight:400;">Ejercicio gluteo con pierna izquierda</h5>
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/R8hELGFy0Z8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="GlTeosGemelos2-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="GlTeosGemelos2-markdown7" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Uso de la máquina para glúteos.</p>

      <ul>
        <li>Poner el peso deseado en la maquina</li>
        <li>Ajustar la silla para que las piernas queden a 90 graos </li>
        <li>Se extienden las piernas (se inhala)</li>
        <li>Se vuelve a la posicion inicial (Se exhala)</li>
        <li>Se tiene en cuenta que se debe hacer solo con la pierna izquierda </li>
      </ul>
    </div>
    <div id="GlTeosGemelos2-button-bar3" class="button-bar">
      <a ui-sref="GlTeosGemelos()" id="GlTeosGemelos2-button26" class="button button-assertive button-block button-outline">1</a>
      <button id="GlTeosGemelos2-button27" class="button button-assertive button-block button-outline">2</button>
      <a ui-sref="GlTeosGemelos3()" id="GlTeosGemelos2-button28" class="button button-assertive button-block button-outline">3</a>
      <a ui-sref="GlTeosGemelos4()" id="GlTeosGemelos2-button29" class="button button-assertive button-block button-outline">4</a>
    </div>
    <a ui-sref="rutina()" id="GlTeosGemelos2-button49" class="button button-calm button-small button-block button-clear">Ir a Rutina</a>
  </ion-content>
</ion-view>