<ion-view title=" Glúteos/Gemelos" id="page9">
  <ion-content padding="true" class="has-header">
    <h5 id="GlTeosGemelos-heading5" style="color:#84DCC6;font-weight:400;">Ejercicio Genemelos</h5>
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/2Tja_xvZbKU?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="GlTeosGemelos-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="GlTeosGemelos-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Uso de la máquina para gemelos.</p>

      <ul>
        <li>Poner el peso deseado en la maquina</li>
        <li>Ajustar la silla para que las piernas queden extendidas </li>
        <li>Los tobillos deben estar en posicion de 90 grados </li>
        <li>Se extienden los tobillos (se inhala)</li>
        <li>Se vuelve a la posicion inicial (Se exhala)</li>
      </ul>
    </div>
    <div id="GlTeosGemelos-button-bar2" class="button-bar">
      <button id="GlTeosGemelos-button22" class="button button-assertive button-block button-outline">1</button>
      <a ui-sref="GlTeosGemelos2()" id="GlTeosGemelos-button23" class="button button-assertive button-block button-outline">2</a>
      <a ui-sref="GlTeosGemelos3()" id="GlTeosGemelos-button24" class="button button-assertive button-block button-outline">3</a>
      <a ui-sref="GlTeosGemelos4()" id="GlTeosGemelos-button25" class="button button-assertive button-block button-outline">4</a>
    </div>
    <a ui-sref="rutina()" id="GlTeosGemelos-button48" style="font-size:-14px;" class="button button-calm button-small button-block button-clear">Ir a Rutina</a>
  </ion-content>
</ion-view>