<ion-view title="Login" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/HOdLlM6qSiyTc93dTENQ_LogoUniDepoNuevo.PNG" style="display: block; width: 70%; height: 90%; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form2" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 78px;"></div>
      <a ui-sref="menu()" id="login-button2" class="button button-stable button-block button-outline">Ingresar</a>
      <a ui-sref="registrate()" id="login-button3" class="button button-assertive button-block button-clear">Crear nueva cuenta</a>
    </form>
  </ion-content>
</ion-view>