
<ion-view title="Registrate " id="page21">
  <ion-content padding="true" class="has-header">
    <form id="registrate-form13" class="list">
      <ion-list id="registrate-list5">
        <label class="item item-input" >
          <span class="input-label">Nombre</span>
          <input class="nombreCampo" type="text" id="registrate-input13" placeholder="" ></input>
        </label>
        <label class="item item-input" >
          <span class="input-label">Apodo</span>
          <input id="registrate-input20" type="text" placeholder="">
        </label>
        <label class="item item-input" >
          <span class="input-label">Email</span>
          <input  id="registrate-input14" type="email" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input   id="registrate-input15" type="password" placeholder="">
        </label>
        <label class="item item-input" >
          <span class="input-label">Fecha de nacimiento</span>
          <input type="date" placeholder="" id="registrate-input16">
        </label>
        <label class="item item-input" >
          <span class="input-label">Peso</span>
          <input id="registrate-input17" type="number" placeholder="">
        </label>
        <label class="item item-input" >
          <span class="input-label">Altura </span>
          <input  id="registrate-input18" type="number" placeholder="">
        </label>
        <label class="item item-input" >
          <span class="input-label">Peso Objetivo </span>
          <input id="registrate-input19" type="number" placeholder="">
        </label>
        <label class="item item-input" >
          <span class="input-label">Meta de porcentaje de grasa</span>
          <input id="registrate-input22" type="number" placeholder="">
        </label>
        <label class="item item-select" >
          <span class="input-label" >Sexo</span>
          <select id="registrate-select8">
            <option>--</option>
            <option>Femenino</option>
            <option>Masculino</option>
            <option>Otro</option>
          </select>
        </label>
      </ion-list>
      <button id="registrate-button60" class="button button-calm button-clear">Agregar una foto </button>
      <button ui-sref="menu()" id="registrate-button56" style="text-align:justify;" class="button button-assertive button-clear">Registrarte </button>
    </form>
  </ion-content>
</ion-view>