<ion-view title="Rutina" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="rutina-form3" class="list">
      <label class="item item-input" id="rutina-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <a ui-sref="GlTeosGemelos()" id="rutina-button7" class="button button-assertive button-block button-outline">Glúteos/Gemelos</a>
    <button id="rutina-button8" class="button button-assertive button-block button-outline">Glúteos/Abductores</button>
    <button id="rutina-button42" class="button button-assertive button-block button-outline">Bicep/Tricep</button>
    <a ui-sref="espaldaPecho3()" id="rutina-button43" class="button button-assertive button-block button-outline">Espalda/Pecho</a>
    <button id="rutina-button44" class="button button-assertive button-block button-outline">Espalda/Hombro</button>
    <div class="spacer" style="height: 100px;"></div>   
    <ion-grid>
        <ion-row>
          <ion-col class="ion-end">
                <a ui-sref="agregarRutina()" id="rutina-button47" style="font-style:italic;text-align:right;" class="button button-calm button-clear icon-left ion-android-add">Nueva Rutina</a>
          </ion-col>
          <ion-col >
              <button id="rutina-button59" style="text-align:right;border-radius:-3px -3px -3px -3px;" class="button button-energized button-clear icon-right ion-trash-b" > Eliminar rutina</button>  
          </ion-col class="ion-float-right">
        </ion-row>
    </ion-grid>
  </ion-content>
</ion-view>